[Unit]
Description=Initial Setup Script
After=local-fs.target network-online.target network.target
Wants=local-fs.target network-online.target network.target
ConditionPathExists=!/root/.ran_customization

[Service]
ExecStart=/root/setup.sh
Type=oneshot

[Install]
WantedBy=multi-user.target